src/*
*swp
venv
__pycache__

srv/insights-chrome/
srv/landing-page-frontend/
srv/rbac/
srv/tower-analytics-frontend/
srv/tower-analytics-backend/
srv/awx
srv/www/apps/landing

playbooks/roles/geerling*

.vagrant
ssh.config
*.png
*node_modules*
srv/integration_tests/cypress/videos
srv/www/ansible
srv/www/apps
srv/squid/logs

.DS_Store

srv/awx.var/pgdocker
srv/awx.var/awxcompose
