#ansible
certifi
cffi
chardet
click
cryptography
docker-compose
epdb
Flask
Flask-Cors
flask-oidc
flask-swagger-ui
httplib2
idna
itsdangerous
Jinja2
logzero
MarkupSafe
oauth2client
PyYAML
q
requests
rsa
ruamel.base
ruamel.yaml
ruamel.yaml.clib
six
urllib3
Werkzeug
